/* General Styles */
*{ padding:0px; margin:0px; }
img{ border: none; }
a:focus, a:active{ outline:none; }
body{ text-align:center; background:#111; }
h1{ font:bold 18px Helvetica, Arial, sans-sarif; color:#FFF; margin:20px 0 0 0; }

#interactivecar {
	width:700px;
	height: 500px;
	margin:0px auto;
	overflow: hidden;
	background: url('images/car-small.jpg');
}

.interactivecarBattery {
	background: url('images/battery.jpg');
}

.interactivecarEngine {
	background: url('images/engine.jpg');
}


#moreInfo {
	width: 250px;
	height: 150px;
	position: relative;
	top: -500px;
	left: 450px;
}

#carContainer {
	margin-left: auto;
	margin-right: auto;
}

#blankImage {
	opacity: .5;
}

#carMap {
	width: 700px;
	height: 500px;
}