body {
	padding: 0px;
	margin: 0px;
}

.post, .picture, .text {
	height: 300px;
	position:relative;
}

.title {
	margin: 0px;
	float: left;
	margin-right: 5px;
}

.more {
	position:absolute;
	background-color:grey;
	color:white;
	display: block;
	padding: 5px;
	border-radius: 5px;
	right: 0px;
	left: initial;
	bottom: 0px;
	margin: 5px;
	cursor: -webkit-grab;
}

.post:nth-child(2n) .more{
	left: 0px;
	right: initial;
}

.post {
	-webkit-animation: slideleft 1s;
}

.post:nth-child(2n){
	-webkit-animation: slideright 1s;
}

.picture {
	width: 50%;
	background-size: cover;
	float:left;
	border-radius:30px;

	-webkit-mask-image: -webkit-gradient(linear, left top, right top,
			color-stop(0, rgba(0,0,0,1)),
			color-stop(.34, rgba(0,0,0,1)),
			color-stop(.95, rgba(0,0,0,0))
		);
}

.post:nth-child(2n) .picture {
	-webkit-mask-image: -webkit-gradient(linear, left top, right top,
			color-stop(.05, rgba(0,0,0,0)),
			color-stop(.66, rgba(0,0,0,1)),
			color-stop(1, rgba(0,0,0,1))
		);
	float:right;
}

.text {
	width: 50%;
	font-family: "Arial";
	font-size:14pt;
	overflow:hidden;
	float:right;
}

.post:nth-child(2n) .text {
	float:left;
}

@-webkit-keyframes slideleft {
	0% {left: 110%; opacity: 0;}
	50% {opacity: 1;}
	100% {left: 0%;}
}

@-webkit-keyframes slideright {
	0% {right: 110%; opacity: 0;}
	50% {opacity: 1;}
	100% {right:0%;}
}