#studentWorking {
    width: 40%;
}

#motorGearbox {
    width: 600px;
    margin: 0;
    position: absolute;
    left: 400px;
    top: 350px;
}

#twitter, #facebook {
    position: absolute;
}

#twitter {
    width: 326px;
}

#socialMedia {
    margin: 100px 0 0 600px;
    display: block;
}

#projectSection {
    width: auto;
}

.post {
    position: relative;
}

.text {
    margin-top: 80px;
    display: block;
}

.media-site {
    margin-right: 20px;
}

#title {
    width: 90%;
    margin: 20px auto 60px auto;
    text-align: center;
}

#title > * {
    margin: 0 auto;
}

#title h1 {
    font-size: 300%;
}

.green {
    color: #85c660;
}

.purple {
    color: #5e3996;
}

.gold {
    color: gold;
}