/* Defines the boundaries of the car and displays the image */
#interactivecar {
    margin: 40px;
    position: relative;
}

#closedCar {
    background: url('../images/interactivecar/car.jpg');
    z-index: 250;
}

.textInfo {
    height: 50px;
    width: 280px;
    position: absolute;
    z-index: 305;
}

.textInfo p {
    font-weight: 300;
    margin: 0;
}

.textInfo h4 {
    font-size: 130%;
    margin: 0;
}

.topRight {
    top: 0px;
    right: 40px;
}

.bottomLeft {
    top: 360px;
    left: 40px;
}

#skeleton {
    background: url('../images/interactivecar/carFaded.jpg');
    z-index: 200;
}

#interactiveCarMap {
    z-index: 300;
}

#partImages > * {
    z-index: 225;
    display: none;
}

/* Detailed images displayed on hover over part of the car */
#battery {
    background: url('../images/interactivecar/carBattery.jpg');
}

#engine {
    background: url('../images/interactivecar/carEngine.jpg');
}

#gearbox {
    background: url('../images/interactivecar/carGearbox.jpg');
}

#inverter {
    background: url('../images/interactivecar/carInverter.jpg');
}

#motor {
    background: url('../images/interactivecar/carMotor.jpg');
}

#tank {
    background: url('../images/interactivecar/carTank.jpg');
}

#trans {
    background: url('../images/interactivecar/carTrans.jpg');
}

#urea {
    background: url('../images/interactivecar/carUrea.jpg');
}

/* Positions the detail images in the upper right corner */
#partImages > *, #skeleton, #closedCar, #interactiveCarMap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

#images {
    width: 800px;
    height: 522px;
    margin: 40px auto;
    position: relative;
}

/* See through image map */
#blankImage {
    opacity: 0.0;
}