.tier {
  background-position-y: 110px;
  min-height: 0px;
}

.logo {
	margin: 20px;
	max-width: 300px;
	max-height: 70px;
}

.tier h1 {
	margin:0px;
	margin-top: 10px;
}

.tier h3 {
	margin: 0px;
	margin-top: -10px;
	margin-left: 40px;
	opacity: .3;
	font-size: 10pt;
}

.team {
	color: purple;
}

.competition {
	color: green;
}

img[src="undefined"] {
	display: none;
}

#main {
	text-align: center;
}