.undefined {
    display: none;
}

#map {
    position: relative;
    width: 100%;
    height: 600px;
}

.cw {
    position: absolute;
    transform: rotate(-29deg);
    -o-transform: rotate(-29deg);
    -moz-transform: rotate(-29deg);
    -webkit-transform: rotate(-29deg);
    -webkit-backface-visibility: hidden;
}

.ccw {
    position: absolute;
    transform: rotate(61deg);
    -o-transform: rotate(61deg);
    -moz-transform: rotate(61deg);
    -webkit-transform: rotate(61deg);
    -webkit-backface-visibility: hidden;
}

#mapLogo {
    left: 330px;
    top: 210px;
    height: 100px;
}

.mapItem {
    color: grey;
    -webkit-transition: all .2s ease-in-out;
}

.mapItem:hover {
    color: black;
    cursor: pointer;
}

#title {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#title h1 {
    margin-bottom: 0;
}

#title h2 {
    margin-top: 0;
}