.tier {
    background-position-y: 90px;
    min-height: 0px;
    padding: 40px 60px 40px 60px;
}

.logo {
    padding: 18px;
    max-width: 300px;
    max-height: 70px;
}

.logo:hover {
    background: #eee;
    border: 1px solid #e2e2e2;
    padding: 17px;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    border-radius: 0.4em;
    -webkit-box-shadow: inset 0px 0px 10px #e2e2e2;
    -moz-box-shadow: inset 0px 0px 10px #e2e2e2;
    -o-box-shadow: inset 0px 0px 10px #e2e2e2;
    -ms-box-shadow: inset 0px 0px 10px #e2e2e2;
    box-shadow: inset 0px 0px 10px #e2e2e2;
}

.tier h1 {
    margin:0px;
    margin-top: 10px;
}

.tier h3 {
    margin: 0px;
    opacity: .8;
    font-size: 10pt;
}

.team {
    color: #5e3996;
}

.competition {
    color: #85c660;
}

img[src="undefined"] {
    display: none;
}

#main {
    padding: 60px;
}

#mainImage {
    -webkit-transform: rotate(-2deg);
    -webkit-backface-visibility: hidden;
    margin: 0 50px 10px 0;
    float: left;
}

#mainImage h3 {
    margin: 5px;
    font-size: 80%;
    text-align: center;
}