.portrait {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: -40px -40px 0 40px;
}

.post:nth-child(2n) .portrait {
    float:right;
    margin: -40px 40px 0 40px;
}

.post .text {
    width: 60%;
    display: block;
}

#main {
    text-align: center;
}

#main img {
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    /*-ms-transform: rotate(-2deg);*/
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
    margin-top: 40px;
    border: 10px solid white;
    box-shadow: 2px 2px 15px #888;
}

#main h2 {
    width: 70%;
    margin: -20px auto 30px auto;
}